* {
    font-family: Times New Roman, sans-serif;
    margin: 0;
    font-size: 14px;
}

section {
    margin: 2em auto;
}
p {
    text-align: justify;
    margin-bottom:5px;
}
form {
    font-size: 12px; 
}

body {
  background-color: gray;
}
body>header {
    background-color: rgb(0, 0, 0);
    height: 66px;
}
main {
    max-width: 1000px;
	margin: auto;
	height: 100%;
	overflow: hidden;
    padding: 3em;
	background-color: white;	
}
table,td,th {
  border: 1px solid black;
}
nav {
    height: 50px;
	display: flex;
	align-items: center;
    justify-content: center;	
}

nav ul {
	margin: auto;
	list-style-type: none;
}

nav li {
    margin-left: 5px;
    margin-right: 5px;
	float: left;		
}
.menu__image-wrapper {
    display: inline;
    line-height: 0;
    max-width: 18px;
}
.menu__image {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.interests-dropdown {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #fff;
    overflow: auto;
    z-index: 1;
}
.interests-dropdown li {
    float: left;
    clear: left;
}
.interests-dropdown.show 
{
    display: block;
}
.interests-dropdown a {
    padding: 8px 6px;
    text-decoration: none;
    display: block;
  }
span {
    display: block;
    overflow: hidden;
}
input {
    width: 100%;
}
.tabbed {
    display: inline-block;
    margin-left: 40px;
}
h1 {
    font-size: 21px;
	text-align: center;
}
h2 {
    font-size: 18px;
    margin:5px;
}
a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
}
a:hover, a.alt-href:hover {
    color: #818181c0
}
a.alt-href {
    text-decoration: none;
    color: #383838;
}
.album-row {
	display: flex;
	flex-wrap: nowrap;
}
.album-col {
    display: flex;
    overflow: hidden;
    margin: 2px;
    flex-direction: column;
    margin-bottom: 0;
}
.image {
    border: 2px solid black;
}
#avatar {
    display: block;
    max-width: 80px;
    float: left;
    margin-right: 5px;
}
aside {
    float:unset;
}
.test li{
    margin: 2em auto;
}
.test {
    margin-top: 5px;
    margin-left: 2px;
}
.cell-center-text {
    text-align: center;
}
.centered {
	margin-left:auto;
	margin-right:auto;
}
form {
	max-width: 40%;
	margin: auto;
	height: 100%;
}
form input {
	width: 100%;
	margin: 0;
	padding: 0;
}
form textarea {
	width: 100%;
	max-width: 100%;
	min-height: 100px;
	padding: 0;
}
.radio-select input {
	width: 5%;
    display: inline;
}
.submit-container {
    width: 100%;
	display: flex;
	justify-content: space-between;
}
.option-group {
    margin: 5px auto;
}
.submit-container input {
    width: 45%;
    border: none;
    text-align: center;
}
.big-image {
    display: none;
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 500;
    top: 20vmax;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
} 
  .big-image img {
    width: 100%;
}
  .image-background {
    display: none;
    position: absolute;
    z-index: 300;
    background-color: #2c2c2cbd;
    width: 100%;
    height: 100%;
}