* {
    font-family: Times New Roman, sans-serif;
    margin: 0;
    font-size: 14px;
}
section {
    margin: 2em auto;
}
p {
    text-align: justify;
    margin-bottom:5px;
}
form {
    font-size: 12px; 
}
html {
  height: 100%;
}
body>header {
    height: 50px;
}
body {
  height:100%;
  background-color: gray;
}
main {
    padding: 3em;
	max-width: 70%;
	margin: auto;
	height: 100%;
	overflow: hidden;
	background-color: white;	
}
table,td,th {
  border: 1px solid black;
}
.menu_elem {
    size: 100%;
    display: inline;
    line-height: 50px;
}
.menu_elem a {
    font-size: 18px;
    margin: 5px;
}
.menu {
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 25px;
    transform: translate(-50%, -50%);
}
label {
    float: left
}
span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px;
}
input {
    width: 100%;
    display: list-item;
}
.tabbed {
    display: inline-block;
    margin-left: 40px;
}
h1 {
    font-size: 21px;
	text-align: center;
}
h2 {
    font-size: 18px;
    margin:5px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover, a.alt-href:hover {
    color: #818181c0
}
a.alt-href {
    text-decoration: none;
    color: #383838;
}
.album-container {
	padding: 2px 5px;
	text-align: center;
}
.album-elem {
    display: inline-block;
    width: 100px;
    margin: 2px;
}
.image {
    max-width: 10vh;
    border: 2px solid black;
}
#avatar {
    float: left;
    margin-right: 5px;
}
aside {
    float:unset;
}
.test li{
    margin: 2em auto;
}
.test {
    margin-top: 5px;
    margin-left: 2px;
}
.cell-center-text {
    text-align: center;
}
.centered {
	margin-left:auto;
	margin-right:auto;
}
form {
	max-width: 40%;
	margin: auto;
	height: 100%;
}
form input {
	width: 100%;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 0;

}
form textarea {
	width: 100%;
	max-width: 100%;
	min-height: 100px;
	padding: 0;
}
.gender-select {
	width: 5%;
    display: inline;
}
.submit-container {
    width: 100%;
	display: flex;
	justify-content: space-between;
}
.option-group {
    margin: 5px auto;
}
.submit-container input {
    width: 45%;
    border: none;
    text-align: center;
}
