* {
    font-family: Times New Roman, sans-serif;
    margin: 0;
}

.container {
    text-align: center;
}
.menu_elem {
    display: inline;
    margin-right: auto;
    margin-left: auto;
}
.menu {
    background-color: rgba(85, 0, 255, 0.11);
    height: 50px;
    position: fixed top;
}
a {
    text-decoration: none;
    color: #383838;
}
a:hover {
    color: #383838be;
}