!!!
-@photos = ['https://picsum.photos/id/10/500/500','https://picsum.photos/id/20/500/500','https://picsum.photos/id/30/500/500','https://picsum.photos/id/40/500/500','https://picsum.photos/id/50/500/500','https://picsum.photos/id/60/500/500','https://picsum.photos/id/506/500/500','https://picsum.photos/id/70/500/500','https://picsum.photos/id/80/500/500','https://picsum.photos/id/90/500/500','https://picsum.photos/id/100/500/500','https://picsum.photos/id/110/500/500','https://picsum.photos/id/120/500/500','https://picsum.photos/id/130/500/500','https://picsum.photos/id/140/500/500']
%html{:lang => "ru"}
  %head
    %meta{:charset => "UTF-8"}/
    %title Альбом
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://code.jquery.com/jquery-3.6.0.min.js", :type => "text/javascript"}
    %script{:src => "js/script.js"}
    %script{:src => "js/album-script.js"}
  %body
    .body
    = Haml::Engine.new(File.read('./includes/_header.haml')).render
    %main
      %article
        %header
          %h1 Мой Альбом
        %section
          %header
            %a.alt-href{:href => "index.html"}
            %p На главную
          .album-container
            -@photos.each do |v|
              -if @photos.index(v)%5 == 0
                .album-row
                  -(@photos.index(v)..(@photos.index(v)+4)).each do |i|
                    %div.album-col
                      %img.image{:src=> @photos[i],:"data-enlargeable"=>'null', :class=>"img-enlargeable", :title=>"Заголовок фото #@i", :alt=>"alt Заголовок фото #@i"}
                        %p Заголовок фото##{i+1}